.footer {
    position: relative;
    overflow: hidden;
    padding: 56px 0;
    background-color: var(--color-footer);
    background-image: url(./images/footer-background.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    font-family: "Roboto", sans-serif;

    &__container {
        display: block;

        @media screen and (min-width: $bp-desktop) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__nav {
        text-decoration: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 178px;
        width: 100%;

        @media screen and (min-width: $bp-desktop) {
            display: flex;
            gap: 186px;
            margin-left: 0;
        }
    }

    &__nav-links {
        color: var(--color-second-light);
        font-size: 16px;
        font-weight: 400;
        font-family: "Roboto", sans-serif;
        margin-bottom: 16px;
    }

    &__link {
        display: flex;
        justify-content: center;
        text-decoration: none;
        color: var(--color-second-light);
        margin-bottom: 16px;

        @media screen and (min-width: $bp-desktop) {
            justify-content: left;
        }
    }

    &__address {
        display: block;

        @media screen and (min-width: $bp-desktop) {
            display: flex;
            gap: 186px;
        }
    }

    &__address-link {
        color: var(--color-second-light);
        text-decoration: none;
        font-style: normal;
        display: flex;
        gap: 25px;
        margin-bottom: 16px;
        justify-content: center;

        @media screen and (min-width: $bp-desktop) {
            justify-content: left;
        }
    }

    &__address-link.mobile{
        display: none;

        @media screen and (min-width: $bp-desktop) {
            display: block;
        }
    }

    &__address-icon {
        fill: var(--color-second-light);
    }

    &__logo {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        max-width: 57px;
        margin-bottom: 20px;
    }
}

.copyright {
    color: rgba(116, 114, 114, 1);
    font-weight: 400px;
    font-size: 15px;
    font-style: normal;
    display: flex;
    justify-content: center;

    @media screen and (min-width: $bp-desktop) {
        justify-content: left;
    }


}

.footer::after {
    display: none;

    @media screen and (min-width: $bp-desktop) {
        display: block;
    content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        width: 278px;
        height: 213px;
        background-image: url("../images/footer-decor.svg");
        background-repeat: no-repeat;
        background-size: 278px 213px;
        background-position: right bottom;
    }
}