.hero-section {
    position: relative;
    background-image:
        linear-gradient(
            89.38deg,
            #ffffff 30.62%,
            rgba(255,255,255,.85) 41.31%,
            rgba(255,255,255,.19) 58.65%,
            rgba(255,255,255,0) 72.78%
        ),
        url("../images/hero-section-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 150px;
    padding-bottom: 140px;

    &__content {
        position: relative;
        transform: none;
        max-width: 330px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        @media screen and (min-width: $bp-desktop) {
            transform: translateX(74px);
            z-index: 2;
            max-width: 530px;
            margin-left: 0;
            margin-right: auto;
        }
    }

    &__title {
        color: var(--color-title);
        max-width: 330px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        @media screen and (min-width: $bp-desktop) {
            margin-left: 0;
            margin-right: auto;
        }
    }

    &__p {
        color: var(--color-primary-dark);
        font-size: 12px;
        max-width: 133px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        @media screen and (min-width: $bp-desktop) {
            font-size: 18px;
            font-weight: 400;
            max-width: 199px;
            margin-left: 0;
            margin-right: auto;
        }        
    }

    &__button {
        display: block;
        max-width: 186px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        @media screen and (min-width: $bp-desktop) {
            margin-left: 0;
            margin-right: auto;
            max-width: 219px;
        }
    }

    &__button-text {
        color: var(--color-black-second);
        display: block;
        justify-content: center;
        text-align: center;
        font-weight: 400;
        font-size: 11px;      
        padding: 14px 14px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 186px;

        @media screen and (min-width: $bp-desktop) {
            margin-left: 0;
            margin-right: auto;
            max-width: 228px;
            font-size: 12px; 
        }
    }
}

.hero-wave {
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 130px;
    display: block;
}