.form-field {
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
}

.form-lable {
    display: block;
}

.form-input {
    border-radius: 32px;
    border: 2px solid var(--color-black-second);
    color: var(--color-primary-light);
    background-color: transparent;
    width: 100%;
    max-width: 190px;
    font-size: 13px;
    padding: 14px 30px;
    line-height: 16px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: $bp-desktop) {
        max-width: 260px;
        padding: 18px 35px;

    }
}

.form-input:focus {
    border-color: var(--color-primary-light);
    outline: none;
}

.form-input::placeholder {
    color: var(--color-primary-light);
}

.form-button {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
}

.form-button-text {
    padding: 8px auto;
    color: var(--color-modal);
    font-size: 12px;
    font-weight: 400;
    display: flex;
    width: 100%;
    max-width: 213px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    &_link {
        color: var(--color-modal);
    }
}

.backdrop {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-color: var(--color-modal);
    transition: opacity 0.3s, visibility 0.3s;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: relative;
    width: 100vh;
    height: 100vh;
    max-height: 100%;
    background-color: var(--color-primary-dark);
    background-image: url(/images/modal-background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 32px;
    overflow-y: auto;
    scrollbar-width: none;

    @media screen and (min-width: $bp-desktop) {
        width: 723px;
        height: 95vh;
        max-height: 681px;
    }
}

.modal-btn-close {
    position: absolute;
    top: 8vh;
    right: 8vh;
    background: transparent;
    border: 0;
    transition: transform 0.3s ease;

    @media screen and (min-width: $bp-desktop) {
        right: 42px;
        top: 42px;
    }
}

.modal-btn-close:hover {
    transform: rotate(90deg);
    cursor: pointer;
}

.modal-title {
    width: 100%;
    max-width: 290px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 45px;
    color: var(--color-primary-light);
    font-size: 64px;
    font-weight: 700;
    font-family: Play;

}

.modal-second-title {
    top: 190px;
}

.modal-button-text {
    padding-bottom: 45px;
}